body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
}
#clock{
    font-family: monospace;
    color: rgb(65, 18, 10);
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(2px);
}